/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define GAME 3

/ {
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping-term-ms = <300>;
                        quick-tap-ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------WITH-HOME-ROW-MODS-----------------------------------------------
// |  ~   |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  |  "   |
// |  `   |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '   |
// |  =   |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  |  +   |
//                    | RET | LWR | BKS |   | SPC | RSE  | TAB |
                        bindings = <
   &kp TILDE &kp Q       &kp W       &kp F      &kp P      &kp B        &kp J &kp L      &kp U      &kp Y       &kp SEMI    &kp DQT
   &kp GRAVE &kp A &hm LCTRL R &hm LALT S &hm LGUI T &kp G        &kp M &hm RGUI N &hm RALT E &hm RCTRL I &kp O &kp SQT
   &kp EQUAL &kp Z       &kp X       &kp C      &kp D      &kp V        &kp K &kp H      &kp COMMA  &kp DOT     &kp FSLH    &kp PLUS
                                &kp TAB       &mo 1        &kp BSPC     &hm RSHFT SPACE     &mo 2       &kp RET
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ~   |  !  |  @  |  #  |  $  |  -  |   |  _  |  %  |  ^  |  &  |  *  |  "   |
// |  `   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |  '   |
// |  =   |  "  |  '  |  {  |  (  |  [  |   |  ]  |  )  |  }  |  |  |  \  |  +   |
//                    | RET |     | BKS |   | SPC | TOG GAME | TAB |
                        bindings = <
   &kp TILDE &kp EXCL &kp AT  &kp HASH &kp DLLR &kp MINUS    &kp UNDER &kp PRCNT &kp CARET &kp AMPS &kp ASTRK &kp DQT
   &kp GRAVE &kp N1   &kp N2  &kp N3   &kp N4   &kp N5       &kp N6    &kp N7    &kp N7    &kp N9   &kp N0    &kp SQT
   &kp EQUAL &kp DQT  &kp SQT &kp LBRC &kp LPAR &kp LBKT     &kp RBKT  &kp RPAR  &kp RBRC  &kp PIPE &kp BSLH  &kp PLUS
                         &kp TAB     &trans     &kp BSPC     &hm RSHFT SPACE     &tog GAME     &kp RET
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ~  |     |     |  UP |     | VOL+ |   | NXT |  7  |  8  |  9  | BT_1 |  "  |
// |  `  | CAP | LFT | DWN | RHT | VOL- |   | PRV |  4  |  5  |  6  | BT_2 |  '  |
// |  =  |  ~  |  `  |  =  |  +  | MUTE |   |  0  |  1  |  2  |  3  |BTCLR |  +  |
//                    | RET |     | ESC |   | SPC |     | TAB |
                        bindings = <
   &kp TILDE &trans    &trans    &kp UP    &trans    &kp C_VOL_UP     &kp C_NEXT &kp N7  &kp N8  &kp N9 &bt BT_SEL 0 &kp DQT
   &kp GRAVE &kp CAPS  &kp LEFT  &kp DOWN  &kp RIGHT &kp C_VOL_DN     &kp C_PREV &kp N4  &kp N5  &kp N6 &bt BT_SEL 1 &kp SQT
   &kp EQUAL &kp TILDE &kp GRAVE &kp EQUAL &kp PLUS  &kp C_MUTE       &kp N0     &kp N1  &kp N2  &kp N3 &bt BT_CLR   &kp PLUS
                                 &kp TAB    &trans   &kp ESC          &hm RSHFT SPACE   &trans    &kp RET
                        >;
                };

                game_layer {
// -----------------------WITHOUT-HOME-ROW-MODS--------------------------------------------
// |  ~   |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  |  "   |
// |  `   |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '   |
// |  =   |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  |  +   |
//                    | RET | ESC | BKS |   | SPC | TOG GAME | TAB |
                        bindings = <
   &kp TILDE &kp Q       &kp W       &kp F      &kp P      &kp B        &kp J &kp L      &kp U      &kp Y       &kp SEMI    &kp DQT
   &kp GRAVE &kp A       &kp R       &kp S      &kp T      &kp G        &kp M &kp N      &kp E      &kp I       &kp O       &kp SQT
   &kp EQUAL &kp Z       &kp X       &kp C      &kp D      &kp V        &kp K &kp H      &kp COMMA  &kp DOT     &kp FSLH    &kp PLUS
                                &kp TAB       &kp ESC        &kp BSPC     &hm RSHFT SPACE     &tog GAME       &kp RET
                        >;
                };
        };
};
